.icon-button {
  margin: 10px;
  padding: 10px 10px;
  display: inline-block;
  color: var(--black);
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  font-weight: 500;
  border: 0;
}

.icon-button:hover {
  box-shadow: 0 10px 20px 2px rgba(20, 20, 20, 0.1);
  transform: scale(1.01);
  transition: all 0.5s;
  background-color: var(--black);
  color: var(--aquamarine);
}
