.start {
  text-align: left;
}

.center {
  text-align: center;
}

.end {
  text-align: right;
}

.lowercase {
  text-transform: lowercase;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}
